/*=================================Base Element Styles====================================*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.row {
    flex: 1;
}

.image-profile {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    font-size: .95em;
    margin: 0 0 1em 0;
}

a {
    color: #093a58;
    text-decoration: none;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.container {
    margin: 10px;
}

.container a {
    text-align: center;
    display: block;
    padding: 10px 15px;
    font-size: .95em;
    color: rebeccapurple;
    text-transform: uppercase;
}

.changepage a {
    font-size: 1em;
    font-weight: bold;
}


.container a:hover {
    color: #093a58;

}


/* ---- Layout Containers ---- */

.main-header {
    padding-top: .5em;
    padding-bottom: .5em;
}

.banner,
.main-footer {
    text-align: center;
}

.banner {
    color: #fff;
    background: linear-gradient(#e66465, #9198e5);
    padding: 3.2em 0;
    margin-bottom: 48px;
}

.main-footer {
    background: #E6E6FA;
    padding: 2em 0;
    margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: solid white;
    box-shadow: 4px 4px 4px 3px rgba(255, 250, 252, 0.2);
}

.headline {
    margin-bottom: 0;
    text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px #CCCC00;
}

/* ----Navigation---- */




/* ----History section---- */

.multi-column {
    padding: 30px;
    width: 100%;
}

.main-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 4px 4px #9198e5;
}

/* ----Gallery/Flavors sections---- */

.img-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
}

.item {
    margin: 5px;
    border: 1px solid #DCDCDC;
}

.item:hover {
    border: 2px solid #e66465;
}

/* ----Quotes section---- */

.quote-box {
    padding: 10px 60px 10px 60px;
    margin: auto;
}

.quote {
    box-shadow: inset 0 0 40px #FFFF66;
    width: 100%;
    padding: 50px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: #000;
    text-shadow: -1px 3px 2px #C0C0C0;
    border: .5px solid #666600;
}

/* ----footer---- */

.footer-right .footer-icons {
    margin-top: 0;
}

.footer-right .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 1px;
    margin-bottom: 20px;
}

/* ---- Recipe section ---- */


.recipe-container .image img {
    width: 250px;
    height: 300px;
    margin: 20px 100px;
    border: 1px solid white;
    box-shadow: 5px 5px 10px #c0fff4, -7px -4px 4px #ffc0cb;

}

.recipe-container .text {
    text-align: justify;
    margin-top: 0px;
    padding: 30px;
}

.recipe-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 0 60px;
    width: 80%;

}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
    .row {
        width: 90%;
        margin: 0 auto;
    }

    .container {
        display: flex;
    }

    .white {
        flex: 1;
    }

    /* ---- Navigation ----*/
    .changepage {
        display: flex;
    }

    .image-profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: block;
        border: 2px solid purple;
        flex: 1;
    }


    /* ----History section ----*/

    section {
        padding: 10px;
    }

    .multi-column {
        display: flex;
        flex: 1;
    }

    /* ----Recipe section ----*/
    .recipe-container {
        background-color: #f2f2f2;
        display: flex;
        border-radius: 5px;
        width: 88%;
    }

    .recipe-container:hover {
        border: 2px #ff748c dotted;
        background-color: #fff3f5;
    }

    .recipe-container .image {
        flex-grow: 1;
        flex-basis: 40%;
        min-width: 200px;
        margin-left: 0;
        padding-left: 0;
    }

    .recipe-container .image img {
        display: block;
        max-width: 100%;
        max-height: 300px;
        border: 1px solid white;
        box-shadow: 5px 5px 10px #c0fff4, -7px -4px 4px #ffc0cb;
    }

    .text {
        flex-grow: 1;
        flex-basis: 60%;
        min-width: 300px;
        margin-left: 80px;
    }
}

@media (min-width: 1025px) {
    .row {
        width: 80%;
        max-width: 1150px;
    }

    /* ----History section ----*/
    .multi-column {
        width: 100%;
        max-width: 1150px;
        margin: auto;
        display: flex;
        flex: 1;
    }
}
